body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    height: 200px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 14px 12px rgba(0, 0, 0, 0.1);
}